<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsCore">
    <test name="AbcdTest" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="resourceTests"/>
                <include name="configReader"/>
                <include name="imageTests"/>
                <include name="fileWatcherTests"/>
                <include name="folderWatcherTests"/>
                <include name="limitedPoolsTests"/>
                <include name="localDateTimeRangeTests"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.utils.ConfigReaderTests"/>
            <class name="com.biit.utils.ImageToolsTest"/>
            <class name="com.biit.utils.file.watcher.FileWatcherTests"/>
            <class name="com.biit.utils.file.watcher.FolderWatcherTests"/>
            <class name="com.biit.utils.ResourceTests"/>
            <class name="com.biit.utils.pool.LimitedPoolsTests"/>
            <class name="com.biit.utils.date.range.LocalDateTimeRangeTests"/>
        </classes>
    </test>
</suite>